<h4><%=@heading%></h4>
<p>Проект "Вебсайт на Ruby" содержит шапку сайта. На ней ей следующие ссылки: "Главная страница", "Про проект", "Магазин", "Добавление страницы", "Вход" и "Регистрация".</p>

<p>При нажатии "Главная страница" происходит переход на главную страницу сайта, где представлены все статьи с заголовком и содержанием. Также есть кнопка "Читать далее", где зарегестрировавшиеся могут изменить/удалить статью и оставить комментарии (к сожалению, зарегестрировавшиеся могут редактировать/удалять как и свои, так и чужие посты). Кнопки изменить/удалить не появляются, если человек не вошёл под своим логином. </p>
<p>При нажатии "Про проект" происходит переход на страницу, где представлена информация о моём проекте.</p>

<p>При нажатии кнопки "Магазин" происходит переход на страницу, где представлен ассортимент магазина (к сожалению, более тщательно функционал не реализовал).</p>

<p>При нажатии кнопки "Регистрация" происходит переход на страницу с регистрацией (изначально я хотел реализовать, аунтефикацию по почте и перехват сообщения на следующей странице сайта с помощью :confirm в gem devise и gem letter_opener, но не происходила отправка сообщения по почте, следовательно, нечего было перехватывать). После регистрации ты можешь пользоваться функционалом сайта.</p>

<p>Если ты зарегестрировался, то при нажатии кнопки "Войти" и указании логина и пароля ты сможешь пользоваться функционалом сайта.</p>

<p>Хотел также реализовать, чтобы можно было подгружать к статьям картинки с помощью гемов carriewave и mini-magick, но валидация, вложенная в гем выдавала: Image Failed to manipulate, maybe it is not an image?</p>